.certSection {
  background-color: #f9f9f9;
  padding: 50px 130px;

  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  color: #232e26;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.logoGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  align-items: center;
}

.certLogo {
  max-height: 80px;
  max-width: 140px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
  cursor: pointer; /* para indicar que es interactivo */
}

.certLogo:hover {
  filter: none;
  transform: scale(1.1); /* agranda un 10% */
  z-index: 10; /* para que quede arriba de otros elementos */
}