.hero {
  position: relative;
  height: 100vh;
  max-height: 90%;
  overflow: hidden; /* para que nada sobresalga */
}
.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(36, 36, 36, 0.716), rgba(255, 255, 255, 0));
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.overlayContent {
  width: 90%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.content {
  flex: 1;

  max-width: 50%;
   margin-top: -10px;

}
/* nav con escroll
  logo 
*/
.content h1 {
  font-size: 2.5rem;
  color: #115763;
  margin-bottom: 20px;
  margin-left: 1rem;
  font: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.content p {
  font-size: 1.5rem;
  margin-bottom: 30px;
color: #005f73;
   line-height: 1.6;
   font-family: Arial, Helvetica, sans-serif;
}

.button {
  background-color: #11635c;
  color: white;
  padding: 18px 54px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-size: 1.1rem;
}

.button:hover {
  transform: scale(1.2); /* agranda el elemento un 10% */
}

.imageContainer {
  flex: 1;
  text-align: center;
   margin-top: -10px;
}

.imageContainer img {
  max-width: 350px;

  height: auto;
  object-fit: contain;
}
