.statsSection {
  position: relative;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
    background: 
    linear-gradient(
      rgba(255, 255, 255, 0.993),
      rgba(255, 255, 255, 0.749),
      rgba(255, 255, 255, 0.816)
    ),
    url('https://img.freepik.com/fotos-premium/distribucion-datos-red-fondo-digital-transferencia-informacion-representacion-3d_745045-78.jpg') no-repeat center center;
  background-size: cover;
}

.statsContainer {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
  max-width: 800px;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
}

.statCard {
  width: 250px;
  color: #115763;
}

.icon {
  font-size: 4.5rem;
  margin-bottom: 10px;
}

.count {
  font-size: 2rem;
  font-weight: 700;
}

.text {
  margin-top: 5px;
  font-size: 1.2rem;
}

.top {
  grid-column: 1 / -1;
  justify-self: center;
}

.bottomLeft {
  grid-column: 1 / 2;
}

.bottomRight {
  grid-column: 2 / 3;
}
