.solutionsWrapper {
  position: relative;
  overflow: hidden;
}

.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.1; /* Ajustá según lo que necesites */
}

.solutionsSection {
  position: relative;
  padding: 60px 20px;
  background: 
  linear-gradient(
      rgba(255, 255, 255, 0.993),
      rgba(255, 255, 255, 0.301),
      rgb(255, 255, 255)
    ),
    url('https://img.freepik.com/fotos-premium/distribucion-datos-red-fondo-digital-transferencia-informacion-representacion-3d_745045-78.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  z-index: 1;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: #192124;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle {
  font-size: 1.3rem;
  color: #115763;
  margin-bottom: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

/* Card estilo glassmorphism */
.card {
  background: #ffffffee;
  border-radius: 16px;
  padding: 25px 20px;
  width: 280px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #e0e0e0;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.cardImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 20px auto;
  border: 3px solid #ffffff;
  box-shadow: 0 0 0 4px #e6f0f2;
  background: white;
}


.cardTitle {
  font-weight: 700;
  font-size: 1.1rem;
  color: #115763;
  margin-bottom: 10px;
}
.cardText {
  font-size: 0.95rem;
  color: #444;
  line-height: 1.5;
}
