/* src/components/SolutionsSection.module.css */

.solutionsSection {
  padding: 60px 20px;
  background-color: #f6f9fc;
  text-align: center;
   font-family: 'Poppins', sans-serif;
   background-image:url('../../assets/vdoptrs.mp4') ;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: #115763;
  margin-bottom: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.solutionsWrapper {
  position: relative;
  overflow: hidden;
}

.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.1; /* opcional: ajustá para mayor o menor visibilidad */
}

.solutionsSection {
  position: relative;
  padding: 60px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  z-index: 1;
  backdrop-filter: brightness(1.1); /* mejora contraste si se desea */
}

.subtitle {
  font-size: 1.3rem;
  color: #115763;
  margin-bottom: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  width: 260px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.cardImage {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Esto lo hace circular */
  object-fit: cover;
  margin: 0 auto 15px auto;
  border: 4px solid #e0e0e0;
  background: white;
}

.cardTitle {
  font-weight: bold;
  font-size: 1rem;
  color: #004b66;
  margin-bottom: 10px;
}

.cardText {
  font-size: 0.9rem;
  color: #333;
}
