.preNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #212121;
  color: rgb(233, 233, 233);
  padding: 0.5rem 3rem;
  font-size: 0.9rem;
  display: flex; /* ACTUALIZACIÓN */
  justify-content: space-between; /* ACTUALIZACIÓN */
  align-items: center; /* ACTUALIZACIÓN */
  z-index: 1001;
  transition: all 0.3s ease;
  opacity: 1;
}

.socialIcons a {
  margin-left: 10px;
  color: #ffffff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.socialIcons a:hover {
  color: #7f7f7f;
}

.prenavHidden {
  transition: all 0.3s ease;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 1.7rem; /* deja espacio para preNav */
  left: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(90deg, #0381a1 0%, #ffffff 50%, rgb(239, 239, 239) 100%);
transition: 10ms all;
  color: white;
  height: 6rem;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.835); */
  transition: all 0.0s ease;
}
/* Si quieres que el nav cambie estilo al scrollear */
.scrolled {
  background: #01222d;
  box-shadow: 0 4px 12px rgba(0,0,0,0.9);
  top: 0;
}


.scrolled {
 backdrop-filter: blur(10px); /* Aplicar el difuminado */
  background: linear-gradient(90deg, #0381a1 0%, #ffffff 50%, rgb(239, 239, 239) 100%);

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.082);
  height: 5rem;
}

.logo {
  font-size: 1.9rem;
  margin: 20px;
  margin-left: 5rem;
}

.imge {
  width: 6rem;
  border-radius: 40%;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 0.5rem;
  font-family: 'Roboto', sans-serif;
}

.navLinks li a {
  position: relative;
   color:   black;
  padding: 8px 12px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLinks li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #bbdff0;
  transition: width 0.3s ease, left 0.3s ease;
  border-radius: 2px;
}

.navLinks li a:hover {
  color: #ffffff;
}

.navLinks li a:hover::after {
  width: 100%;
  left: 0;
}

.menuItem {
  position: relative;
}

.menuItem a {
  color:   black;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1rem;
  padding: 10px 5px;
  display: block;
  font-family: 'Roboto', sans-serif;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #115763;
  border-radius: 0px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  min-width: 170px;
  padding: 5px 0;
  z-index: 1000;
}

.submenu li a {
  padding: 8px 15px;
  font-size: 0.95rem;
}

.menuItem:hover .submenu {
  display: block;
}
