.preNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #012933;
  color: white;
  padding: 0.5rem 2rem;
  font-size: 0.9rem;
  text-align: center;
  z-index: 1001;
  transition: opacity 1.5s ease-in-out;
  opacity: 1;

}

.prenavHidden {
  transition: all 0.3s ease;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 1.7rem; /* deja espacio para preNav */
  left: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(90deg, #014050 0%, #01738f 100%);
  color: white;
  height: 6rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.835);
  transition: all 0.1s ease;
}
/* Si quieres que el nav cambie estilo al scrollear */
.scrolled {
  background: #01222d;
  box-shadow: 0 4px 12px rgba(0,0,0,0.9);
  top: 0;
}


.scrolled {
 backdrop-filter: blur(10px); /* Aplicar el difuminado */
 background: linear-gradient(90deg, #014050 0%, #01738f 100%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.843);
  height: 5rem;
}

.logo {
  font-size: 1.9rem;
  margin: 20px;
  margin-left: 5rem;
}

.imge {
  width: 6rem;
  border-radius: 40%;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 1rem;
}

.navLinks li a {
  position: relative;
  color: #f7f7f7;
  padding: 8px 12px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLinks li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #bbdff0;
  transition: width 0.3s ease, left 0.3s ease;
  border-radius: 2px;
}

.navLinks li a:hover {
  color: #ffffff;
}

.navLinks li a:hover::after {
  width: 100%;
  left: 0;
}

.menuItem {
  position: relative;
}

.menuItem a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 10px 5px;
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #115763;
  border-radius: 0px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  min-width: 170px;
  padding: 5px 0;
  z-index: 1000;
}

.submenu li a {
  padding: 8px 15px;
  font-size: 0.95rem;
}

.menuItem:hover .submenu {
  display: block;
}
