.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  background-color: #115763;
  color: white;
  background: linear-gradient(90deg, #0b3b43 0%, #147d8c 100%);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
letter-spacing: 0.5px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.721); /* sombra moderna */
}
.logo {

  font-size: 1.9rem;
  margin: 20px;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 5rem;
}
.imge{
    width: 6rem;
    border-radius: 40%;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.navLinks li a {
  position: relative;
  color: #fff;
  padding: 8px 12px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLinks li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #bbdff0; /* un verde agua suave */
  transition: width 0.3s ease, left 0.3s ease;
  border-radius: 2px;
}
.navLinks,
.navLinks li,
.submenu,
.submenu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks li a:hover {
  color: #bbdff0;
}

.navLinks li a:hover::after {
  width: 100%;
  left: 0;
}

.navLinks li a:hover::after {
  width: 100%;
}



.menuItem {
  position: relative; /* para el submenu */
}

.menuItem a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.7remx;
  padding: 10px 5px;
  display: block;
  
}

/* Submenú oculto por defecto */
.submenu {
  display: none;
  position: absolute;
  top: 100%; /* justo debajo del menú padre */
  left: 0;
  background-color: #115763;
  border-radius: 0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  min-width: 170px;
  padding: 5px 0;
  z-index: 1000;
}

/* Links dentro del submenu */
.submenu li a {
  padding: 8px 15px;
  font-size: 20px;
}

/* Mostrar submenu al hacer hover */
.menuItem:hover .submenu {
  display: block;
}
